<div>
    <h3>Hello. My name is Kyle.</h3>
    <p>
        I like solving problems and making users happy. I am currently an Engineering Manager at
        <a href="https://healthverity.com">HealthVerity</a>
        where I work for a team of exceptional developers.
    </p>
    <p>
        I enjoy audio programming, digital signal processing, and electronic music.
    </p>
    <p>
        I live in the City of Brotherly Love with my fiancée Gabi and our cat Beau.
    </p>
</div>

<style>
    div {
        text-align: left;
        padding: 0 10em;
    }

    a {
        color: black;
        text-decoration: underline 2px;
        transition: text-decoration-color 0.75s;
    }

    a:hover {
        text-decoration-color: indianred;
    }
</style>